---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { IconList } from "../../components/IconList";
import Button from "../../components/Button";
import { optimizeIconItems } from "../../utils/images";

const storeEntries = await getCollection("store");
const storeItems = await optimizeIconItems(
  storeEntries
    .map(e => e.data as any)
    .sort(
      (a, b) =>
        (a.group_number ?? 0) - (b.group_number ?? 0) || a.name.localeCompare(b.name),
    ),
);
---

<BaseLayout title="Kodi Merchandise Store" breadcrumbs="Store">
  <h2 class="text-2xl font-bold">The only place for official Kodi gear</h2>
  <IconList items={storeItems} iconwidth="256" iconheight="256" />
  <h2 class="text-2xl font-bold">Consider Donating</h2>
  <p class="pb-6">
    We are always happy to receive a donation by which you show your support and
    appreciation. All donations go towards the Kodi foundation and are typically used
    for travel to attend conferences, any necessary paperwork and legal fees,
    purchase necessary hardware and licenses for developers and hopefully the yearly
    Kodi Foundation Developers Conference.
  </p>
  <Button href="/donate" buttonType="internal"> Donate to Kodi </Button>
</BaseLayout>
