---
import DecapCmsAdmin from "../../cms/decap";
export const prerender = true;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
    <link rel="stylesheet" href="/admin/global.css" />
  </head>
  <body>
    <DecapCmsAdmin client:only="react" />
  </body>
</html>
